@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

:root {
  --player-delay: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4rem 1.5fr 1fr;
  height: 100vh;
  width: 100vw;
  padding: 0 4rem;
  font-family: "Roboto", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  grid-column: 1/ 3;
  grid-row: 1/2;
}

.github-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.nav a {
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  margin-right: 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.nav a::before,
.github-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.2s ease;
}

.github-link::before {
  bottom: -5px;
}

.nav a:hover::before,
.github-link:hover::before {
  width: 100%;
}

.which-board {
  display: flex;
  justify-content: center;
  align-items: end;
}

.board-name {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
}

#enemy-board,
#player-board {
  grid-row: 2/3;
  position: relative;
  top: 30%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 1fr;
  width: 300px;
  height: 300px;
  background-color: #fff;
  user-select: none;
  border: 1px solid #333;
}

#enemy-board {
  grid-column: 1/2;
  margin-right: 4.5rem;
  justify-self: end;
  cursor: crosshair;
}

#player-board {
  grid-column: 2 / 3;
  margin-left: 4.5rem;
  justify-self: start;
}

#enemy-board div,
#player-board div {
  border: 1px solid #7dd3fc;
  opacity: 0.5;
}

.before-start::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  text-shadow: white 0px 0 5px;
  z-index: 2;
  cursor: auto;
}

#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7rem;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: white;
  box-shadow: #00000033 0 2px 2px;
  background: #0065d8;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  z-index: 3;
}

#start:hover {
  transform: translate(-50%, -50%) scale(1.05);
  opacity: 0.9;
}

#options {
  grid-area: 3 / 2 / 4 / 3;
  margin-left: calc(4.5rem + (300px / 2));
  transform: translateX(-50%);
  justify-self: start;
}

#options .btn {
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  box-shadow: #00000033 0 2px 2px;
  background: #0065d8;
  color: white;
  transition: 0.2s;
}

#options .btn:hover {
  opacity: 0.8;
  scale: 1.05;
}

.ships-container {
  grid-area: 3 / 2 / 4 / 3;
  justify-self: start;
  margin-left: calc(4.5rem + (300px / 2));
  margin-top: 4rem;
  transform: translateX(-50%);
}

.ship-draggable {
  display: flex;
  justify-content: center;
  cursor: grab;
}

.ship-draggable.vertical {
  flex-direction: column;
}

.ship-draggable div {
  width: 30px;
  height: 30px;
  background-color: #0284c7;
  border: 1px solid #7dd3fc80;
}

.ship-draggable div:hover {
  opacity: 0.8;
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: #f0f9ff;
  border: 1px solid #333333;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 3;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  color: #333333;
}

.modal-content h2 {
  font-size: 2.4rem;
}

.modal-content p {
  font-size: 1.2rem;
}

.close-button {
  padding: 0.6rem 4rem;
  border-radius: 8px;
  border: none;
  box-shadow: #00000033 0 2px 2px;
  background: #0065d8;
  color: white;
  transition: 0.2s;
}

.close-button:hover {
  opacity: 0.9;
  scale: 1.05;
}

.wall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  background-color: black;
  z-index: 3;
}

.wave {
  position: fixed;
  bottom: -10%;
  user-select: none;
  opacity: 0.6;
  z-index: -1;
}

.wave img {
  width: 100vw;
}

.ship {
  background-color: #0284c7;
}

.hit {
  background-color: #ffa500;
}

.miss-hit {
  background-color: #c0c0c0;
}

.sunk {
  background-color: #800000;
}

.impossible-move {
  background-color: #fecaca;
}

.ship,
.hit,
.miss-hit,
.sunk,
.impossible-move {
  transition: var(--player-delay) ease-out;
}

.hide {
  display: none !important;
}

@media (orientation: portrait) {
  * {
    cursor: auto;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 350px 350px 1fr 1fr;
    min-height: 110vh;
    padding: 0;
  }

  #header {
    align-items: center;
    padding: 1rem 0.5rem;
    grid-column: 1/2;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav a {
    margin-right: 0;
    font-size: 1rem;
  }

  .nav a:hover::before,
  .github-link:hover::before {
    width: 0%;
  }

  #enemy-board,
  #player-board {
    top: 10%;
    justify-self: center;
    grid-column: 1 / 2;
  }

  #start:hover {
    transform: 0;
    opacity: 1;
  }

  #enemy-board {
    grid-row: 2/3;
    margin-right: 0;
    margin-bottom: 4rem;
  }

  #player-board {
    grid-row: 3/4;
    margin-left: 0;
  }

  #options {
    grid-row: 4/5;
    grid-column: 1 / 2;
    position: absolute;
    left: 50%;
    justify-self: center;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
  }

  #options .btn {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
  }

  #options .btn:hover {
    opacity: 1;
    scale: 1;
  }

  .ships-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    grid-row: 5/6;
    grid-column: 1 / 2;
    margin: 20% 0 0 0;
    padding-bottom: 2rem;
    transform: 0;
  }

  .ship-draggable div:hover {
    opacity: 1;
  }

  .modal {
    width: 350px;
    height: 400px;
    text-align: center;
  }

  .close-button:hover {
    opacity: 1;
    scale: 1;
  }
}
