@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 6fr 5fr;
  height: 100vh;
  width: 100vw;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  grid-column: 1/ 3;
  grid-row: 1/2;
  font-family: "Bruno Ace SC", cursive;
}

.nav-btn {
  border: none;
  padding: 0.5rem;
  margin-right: 1rem;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.2s;
}

.nav-btn:hover {
  border-bottom: 1px solid black;
}

#enemy-board,
#player-board {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 1fr;
  width: 400px;
  height: 400px;
  margin-top: 4rem;
  justify-self: center;
  background-color: #fff;
  user-select: none;
}

#enemy-board {
  position: relative;
  grid-column: 1/2;
  margin-left: 12rem;
}

#player-board {
  grid-column: 2 / 3;
  margin-right: 12rem;
}

#enemy-board div,
#player-board div {
  border: 1px solid gray;
}

.before-start::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  text-shadow: white 0px 0 5px;
}

#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7rem;
  color: white;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  background: #0065d8;
  border: none;
  border-radius: 1rem;
  box-shadow: #00000033 0 2px 2px;
  transition: 0.1s ease-in-out;
}

#start:hover {
  transform: translate(-50%, -50%) scale(1.05);
  opacity: 0.9;
}

#options {
  grid-column: 2/3;
  justify-self: center;
  margin-top: 3rem;
  margin-right: 12rem;
}

.btn {
  margin: 0 0.5rem;
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #001f3f;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

.ship {
  background-color: #000080;
}

.hit {
  background-color: #ffa500;
}

.miss-hit {
  background-color: #c0c0c0;
}

.sunk {
  background-color: #800000;
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: white;
  border: 1px solid #333333;
  border-radius: 8px;
  /* opacity: 0.9; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  color: #333333;
}

.modal-content h2 {
  font-size: 2.4rem;
}

.modal-content p {
  font-size: 1.2rem;
}

.modal-content .close-button {
  padding: 0.6rem 4rem;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: white;
  transition: 0.1s;
}

.modal-content .close-button:hover {
  opacity: 0.9;
}

.wall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  background-color: black;
}

.hide {
  display: none;
}
