@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 6fr 5fr;
  height: 100vh;
  width: 100vw;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  grid-column: 1/ 3;
  grid-row: 1/2;
  font-family: "Bruno Ace SC", cursive;
}

.nav-btn {
  border: none;
  padding: 0.5rem;
  margin-right: 1rem;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.2s;
}

.nav-btn:hover {
  border-bottom: 1px solid black;
}

#enemy-board,
#player-board {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 1fr;
  width: 400px;
  height: 400px;
  margin-top: 4rem;
  justify-self: center;
}

#enemy-board {
  grid-column: 1/2;
  margin-left: 12rem;
}

#player-board {
  grid-column: 2 / 3;
  margin-right: 12rem;
}

#enemy-board div,
#player-board div {
  border: 1px solid gray;
}

#options {
  grid-column: 2/3;
  justify-self: center;
  margin-top: 3rem;
  margin-right: 12rem;
}

.btn {
  margin: 0 0.5rem;
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #001f3f;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

.ship {
  /* background-color: #ff4500; */
  background-color: #000080;
}

.hit {
}

.miss-hit {
}

.sunk {
}
